build
*local.*
package-lock.json
*.DS_Store
vendor
.env
node_modules
typechain-types
artifacts
cache
.idea

# Let ignore all deployements except target networks
deployements
!deployements/goerli
!deployements/mainnet
!deployements/holesky