build
*local.*
package-lock.json
*.DS_Store
vendor
.env
node_modules
typechain-types
artifacts
cache
.idea

# Let ignore all deployments except target networks
deployments/*
!deployments/goerli/
!deployments/mainnet/
!deployments/holesky/

# Let ignore all .openzeppelin artifacts except target networks
.openzeppelin/*
!.openzeppelin/goerli.json
!.openzeppelin/mainnet.json
!.openzeppelin/holesky.json
