build
*local.*
package-lock.json
*.DS_Store
vendor
.env
node_modules
typechain-types
artifacts
cache
.idea

# Let ignore all deployements except target networks
.openzeppelin
deployements

! .openzeppelin/goerli.json
! deployements/goerli
! deployements/mainnet
! deployements/holesky